php_value max_input_vars 10000
php_value max_execution_time 100000
php_value memory_limit 2048M
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]